.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.coin-logo {
  width: 2.2em;
}

tr th {
  font-weight: bold;
  font-size: 1.1em;
}

tr td {
  font-size: 1.1em;
}
.coin-detail-logo {
  width: 5em;
}
/* @import "./node_modules/react-vis/dist/style"; */