.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.coin-logo {
  width: 3em;
}
.coin-detail-logo{
  width: 5em;
  margin: 2em;
}

tr th {
  font-weight: bold;
  font-size: 1.1em;
}

tr td {
  font-size: 1.5em;
}
.coin-detail-logo {
  width: 5em;
}
/* .coin-info{
  margin: auto;
} */
/* .coin-detail-info-table {
  margin: auto;
  width: 40%;
} */
.CustomBtn{
  margin: auto;
  padding: 5em;
  /* background-color: gray; */
  width: 70%;
}
.card {
  /* width: 18em; */
  margin: 3em;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.setview {
  color: orange;
}
#clicked-result{
  color: dodgerblue;
}
.coin-info {
  margin: auto;
}
.btn-group {
  margin: 3em;
}
.chart {
  margin: auto;
  width: 50%;
}

h2 {
  margin: auto;
  width: 50%;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 1.5em;
}

table {
  margin: auto;
  width: 50%;
  /* padding: 1.5em; */
}
#coin-info {
  margin: auto;
  width: 50%;
}

